/******	FONTS		******/

@font-face {
	font-family: FiraSans;
	src: url('../fonts/FiraSansOT-Medium.otf') format('opentype');
}
@font-face {
	font-family: FiraSans-Light;
	src: url('../fonts/FiraSansOT-Light.otf') format('opentype');
}

/******	RESET		******/

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6,
b, u, i, center,
dl, dt, dd, ol, /*ul, li,*/
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** 		GLOBAL	 *****/
h1,h2,h3,h4,h5,h6 {margin-bottom: 8px; font-weight: bold;}
h1 {font-size: 28px;}
h2 {font-size: 24px;}
h3 {font-size: 18px;}
h4 {font-size: 14px;}
h5 {font-size: 12px;}
h6 {font-size: 10px;}
p {font-size: 14px; padding-bottom: 18px; line-height: 16px;}



.width100 { width: 100%; }
.width75 { width: 75%; }
.width50 { width: 50%; }
.width33 { width: 33%; text-align: center;}
.width25 { width: 25%; }

.clear         {clear:both;}
.float-left    {float:left;}
.float-right   {float:right;}

.text-left     {text-align:left;}
.text-right    {text-align:right;}
.text-center   {text-align:center;}
.text-justify  {text-align:justify;}

.bold          {font-weight:bold;}
.italic        {font-style:italic;}
.underline     { border-bottom:1px solid; }
.highlight     {background:#ffc;}
.upper		{text-transform: uppercase;}

.pointer {cursor: pointer;}

.img-left      { float:left;margin:4px 10px 4px 0; }
.img-right     { float:right;margin:4px 0 4px 10px; }

.nopadding     {padding:0;}
.noindent      {margin-left:0;padding-left:0;}
.nobullet      {list-style:none;list-style-image:none;}

.hidden {display: none;}
.unhidden {display: block;}

/******	PAGE		******/

body {
/*	background: #333333 url('../img/ tent_trans.png') no-repeat bottom left;
	background-size: 210px 100px;
	color: #C3C3C3;*/
	background: #333333;
/*	background: #333333 url('../img/leesi_tr_bw_no_b.gif') no-repeat bottom left; 
	background: #333333 url('http://www.ericsheehan.com/images/bee.png') repeat center; 
	background: #333333 url('../img/leesi.jpg') no-repeat top right;*/
	background-size:  170px;
	font-family: FiraSans-Light, 'Century Gothic', Arial;
	color: #E0E0E0;
}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	/*border: 1px solid blue;*/
}

#header {
	width: 760px;
	margin: 15px auto;
	overflow: hidden;
	font-family: 'Century Gothic', FiraSans-Light, Arial;
}

#bin-scroll {
	font-size: 10px;
	width: 100%; 
	text-wrap: unrestricted; 
	text-align: center;
	font-family: 'Century Gothic', FiraSans-Light, Arial;
}

#header h1 {
/*	color: #00B000;
	font-size: 40px;
*/	color: yellow;
	display: block;
	padding-bottom: 3px;
	letter-spacing: 10px;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	font-weight:normal;
}

#content {
	/*background: #616161;
	background: #333333;*/
	background-color: rgba(144,144,144,0.5);
	width: 760px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	min-height: 400px;
	
}

#sidebar {
	width: 200px;
}
/******	GENERAL		******/

p {
	font-family: FiraSans-Light, 'Century Gothic', Arial;
	margin-bottom: 10px;
}

ol, ul {
	list-style: disc;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: FiraSans-Light, 'Century Gothic', Arial;
	font-size: 14px; padding-bottom: 18px; line-height: 16px;
}

div#corner_pop {
	position: fixed;
	bottom: -40px;
	left: -25px;
	width: 150px;
}
div#corner_pop img{
	width: 100%;
}

div#corner_pop #label {
	margin-left: 20px;
}

img.trans {
	z-index: -1;
}

img.gray {
	width: 100%;
	-webkit-filter: grayscale(100%);
}

.flipped {
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

/********	POSTS (index) ********/
div.post {
	margin: 25px 0;
}

div.post_header {
	/*background-color: rgba(200,200,200, 0.5);
	color: #242425;*/
}


/********	FORMS ********/
form label {
	float: left;
	font-size: 14px;
	width: 75px;
	padding: 3px 10px 0 0;
}

form textarea {
	width: 650px;
	margin-left: 2px;
	max-width: 650px;
}

form input.wide {
	width: 400px;
	margin-left: 2px;
}
